.wife {
    position: relative;
    top: 15px;
    left: 90px;
    width: 350px;
    justify-content: center;
    gap: 0px;
    margin: 20px auto;
    background-color: transparent;
}

.children {
    position: relative;
    top: 7px;
    left: 45px;
    width: 350px;
    justify-content: center;
    gap: 0px;
    margin: 20px auto;
    background-color: transparent;
}

/* Style for the horizontal line */
.horizontal-line {
    position: absolute;
    top: 20px; /* Adjust the vertical position of the horizontal line */
    left: 10px; /* Adjust the horizontal position of the horizontal line */
    border-top: 1px solid black;
    width: 30px; /* Adjust the length of the horizontal line */
    border-color: #AAAAAA;
}

/* Style for the vertical line */
.vertical-line {
    position: absolute;
    top: -35px;
    left: 10px; /* Position the vertical line at the beginning of the horizontal line */
    border-left: 1px solid black; /* Adjust the border to create the vertical line */
    height: 55px; /* Adjust the length of the vertical line */
    border-color: #AAAAAA;
}
